@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    --foreground-rgb: 65, 88, 208;
    --background-start-rgb: 65, 88, 208;
    --background-phase-one: 200, 80, 192;
    --background-end-rgb: 255, 204, 112;
  }


body {
  color: rgba(var(--foreground-rgb));
  background: linear-gradient(
      43deg,
      rgba(var(--background-start-rgb)) 0%,
      rgba(var(--background-phase-one)) 46%,
      rgba(var(--background-end-rgb)) 100%
    );

}

.frostedBox {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
}

.icons {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 0.5rem;
  object-fit: contain;
}

.discordDecidedToBeSpecial {
  margin-top: 0.6rem;
}

@media (min-width: 1280px){
  .iconDrawer {
    margin-top: -2.5rem;
    float: right;
    height: 6rem;
    width: 1.5rem;
    align-items: stretch;
    flex-direction: column;
  }
}

@media (max-width: 1280px) {
  .iconDrawer {
    float: bottom;
    flex-direction: row;
  }
}

.icons:hover {
  filter: invert(86%) sepia(3%) saturate(796%) hue-rotate(172deg) brightness(102%) contrast(88%);
}